* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.panel {
    display: flex;
    margin: 0 auto;
    max-width: 1200px;
    padding: 30px 0;
}

.panel__excursions {
    width: 70%;
}

.excursions {
    display: flex;
    flex-wrap: wrap;
}

.excursions__item {
    border: 1px solid #bbb;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: calc(50% - 20px);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.excursions__header {
    padding-bottom:10px;
    display: flex;
    flex-direction: column;
    height: 70%;
}

.excursions__form {
    padding-bottom:10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:20%;
}

.excursions__title {
    padding: 10px 0;
    border-bottom: 1.5px solid rgb(44, 96, 148);
    color:rgb(44, 96, 148);
    text-transform: uppercase;
    letter-spacing: 0.4px;
}
.excursions__description {
    padding:8px 0;
    line-height: 20px;
    letter-spacing: 0.5px;
}

.excursions__field {
    padding:6px 0;
}

.excursions__field-input{
    border:none;
    border-bottom: 1px solid rgb(44, 96, 148);
    height: 25px;
}

.excursions__field-input--submit{
    border:none;
    width: 100%;
    height:50px;
    letter-spacing: 0.5px;
    background-color: rgb(44, 96, 148);
    color:white;
    text-transform: uppercase;
}

.excursions__field-name{
    letter-spacing: 0.5px;
}

.panel__form {
    background-color: #f4f4f4;
    padding: 20px;
    width: 35%;
}

.uploader, .order {
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.hide__prototype, .summary__item--prototype {
    display:none;
}

.uploader__label{
    font-size:18px;
}
.uploader__input{
    padding:10px 0;
    border:none;
}

.order__total-price{
    font-size:18px;
    font-weight: 600;
    padding:5px 0;
}

.order__field{
    padding: 5px 0;
}

.order__field-name {
    font-size:17px;
    padding:5px 0;
}

.order__field-submit {
    border:none;
    margin-top:20px;
    width: 100%;
    text-transform: uppercase;
    padding:15px 0;
    background-color: rgb(44, 96, 148);
    letter-spacing: 1px;
    color:white;
    font-size: 15px;
}

.order__field-input{
    border:none;
}

.summary__item{
    padding: 10px 0;
}

.summary__btn-remove{
    text-decoration: none;
    font-size: 12px;
    color:rgb(221, 50, 50);
    position: absolute;
    padding:0 3px;
    bottom:50%;
}

.summary__title{
    position: relative;
}